

<div class="toolbar-container">
  <mat-toolbar>

    <a routerLink="/" style="text-decoration: none;"><span style="font-family: 'Monoton', cursive; font-weight: bold; font-size:24px; color:black;">VENDOR</span></a>

    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Shop" routerLink="shop">
      Shop
    </button>

    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Users" routerLink="admin/users">
      Users
    </button>

    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Products" routerLink="admin/products">
      Products
    </button>

    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Reviews" routerLink="admin/reviews">
      Reviews
    </button>

    <span class="spacer"></span>
    
    <button mat-icon-button aria-label="Orders" routerLink="admin/orders">
      Orders
    </button>
    

  </mat-toolbar>
</div>